{% extends "layout.html" %}

{% block body %}
    <h2>{{ author.name }}</h2>
    {% if current_user.is_authenticated %}
    <form method="POST" action="{{ url_for ('authors_delete', author_id=author.id) }}">
        <input type="submit" value="Delete this author"/>
    </form>
    {% endif %}
    <div>
        <p>Average review score (individual reviews): {{ score }}</p>
        <h4>Books:</h4>
        {% for book in author.books %}
            <div>{{ book.title }}</div>
        {% endfor %}
    </div>

{% endblock %}
