{% extends "layout.html" %}

{% block body %}
    <h4>{{ book.title }}</h4>
    <h4>by <a href="{{ url_for('authors_show', author_id = book.author.id) }}">{{ book.author.name }}</a></h4>
    <div>
        <a href="{{ url_for('reviews_new', book_id = book.id)}}">Review this book</a>
        {% if book.available %}
        <p style="color: green">available</p>
        {% else %}
        <p style="color: red">not available</p>
        {% endif %}
        <h4>Average score: {{ score }}</h4>
        <h4>Reviews:</h4>
        {% for review in book.reviews %}
            <div>{{ review.score }}</div>
            <div>{{ review.text }}</div>
        {% endfor %}
    </div>
    <form method="POST" action="{{ url_for ('change_availability', book_id=book.id) }}">
        <input type="submit" value="change availability"/>
    </form>
    <form method="POST" action="{{ url_for ('books_delete', book_id=book.id) }}">
        <input type="submit" value="delete"/>
    </form>
    <form method="POST" action="{{ url_for ('loans_new', book_id=book.id) }}">
        <input type="submit" value="loan"/>
    </form>

{% endblock %}
