{% extends "layout.html" %}

{% block body %}
    <div>
        {% for book in books %}
        <div>
            {{ book }}
            <form method="POST" action="{{ url_for ('change_availability', book_id=book.id) }}">
                <input type="submit" value="change availability"/>
            </form>
            <form method="POST" action="{{ url_for ('delete_book', book_id=book.id) }}">
                    <input type="submit" value="delete"/>
            </form>
        </div>
        {% endfor %}
    </div>
{% endblock %}
