{% extends "layout.html" %}

{% block body %}
<h4>New Book</h4>
<form method="POST" action={{ url_for('books_new') }}>
    {{ form.title.label }}
    {{ form.title}}
    {% for error in form.title.errors %}
        <div>{{ error }}</div>
    {% endfor %}
    <br>
    {{ form.author.label }}
    {{ form.author }}
    <a href="{{ url_for('author_new') }}">new author</a>
    {% for error in form.author.errors %}
        <div>{{ error }}</div>
    {% endfor %}
    <br>
    <input type="submit" value="Add a book" />
</form>
{% endblock %}
